.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  /* align-items: center; */
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.circle {
  position: relative;
  border-radius: 50%;
  width: 200px;
  margin: 0 auto;
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7rem;
  padding: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: -7rem;
  height: 80vh;
  background: #005a62;
  color: #fff;
  padding-top: 2rem;
}
.about h2 {
  font-size: 1.5rem;
  font-weight: 400;
  /* margin-bottom: 1rem; */
}
.about p {
  width: 450px;
  text-align: center;
  font-weight: 100;
}
.about button {
  margin-top: 2rem;
  color: #005a62;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700px;
}
/* login area */
.loginPage {
  margin: 0 auto;
  position: relative;
  border-radius: 10%;
  margin-top: -27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 50vh;
  width: 50vw;
  background: #f0f0f0;
  padding-top: 2rem;
  margin-top: -25rem;
}
.loginPage .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  padding-top: 2rem;
}

.mission {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.mission div {
  background: rgba(160, 165, 166, 0.24);
  width: 20rem;
  border-radius: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 400;

  line-height: 1.2;
  text-align: justify;
}

.acivities {
  font-size: 1rem;
  padding: 2rem;
}
.acivities h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.acivities .acivity {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.acivities .acivity div {
  background: #d9d9d9;
  max-width: 250px;
  margin: 0 auto;
  height: 300px;
  border-radius: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.acivities button {
  width: 10%;
  display: block;
  margin: auto;

  color: #005a62;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700px;
}
